<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title">
        <button type="submit"> Find </button>
    </form>
    {% for task in tasks %}
        <h1>{{task.title}}</h1>
        <p>{{task.description}}</p>
        <p>{{task.status}}</p>
    {% endfor %}
</body>
</html>